.body{
    background-color: #1a1733;
    color: white;
    text-align: center;
}

.titulo{
  margin-top: 50px;
}



ul {
  list-style-type: none;
  color:#57529e ;
 }

 input[type=text] {
  padding: 12px 20px;
  border-radius: 30px;
  background-color: #3c3171;
  color: white;
  box-shadow: none;
  border-color: none;
  border: none;
}

input[type=text]:focus {
  background-color: #88bb25;
}

.instrucciones{
  margin-bottom: 50px;
}
.button {
  position: relative;
  background-color: #88bb25;
  border: none;
  color: #FFFFFF;
  padding: 12px 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 40px 40px;
  border-radius: 30px;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



.container {

    width: 400px;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #34475a;
    box-shadow:  20px 20px 60px #020024,
             -20px -20px 60px #11364d;
        
}

.flex-container{
    display: flex;
    padding: 30px;

}


.grid-layout{
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto auto;
}


.caja {
    background-color: #2a265c;
    color: white;
    width: 230px;
    padding: 10px;
    margin: 10px;
}

img{
  width: 100px;
  height: 100px;
  margin: 20px; 
}

h3{
  font-weight: 900;
}

.grid-layout2{
  width: 48%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto auto;
}

.caja2 {
  background-color: #2a265c;
  color: white;
  width: 190px;
  padding: 10px;
  margin: 10px;
}



canvas {
  border: 1px dotted #2a265c;
  width: 150px;

}